* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: "JetBrains Mono", monospace;
  display: flex;
  align-items: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.buttons-container button {
  font-size: 1.2rem;
  font-weight: 800;
  width: 5rem;
  height: 3.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  margin: 0 1rem;
  box-shadow: 0px 4px 20px 7.5px rgba(39, 39, 39, 0.4);
}

.buttons-container button#redButton {
  background-color: red;
}

.buttons-container button#greenButton {
  background-color: green;
}

.buttons-container button#blueButton {
  background-color: blue;
}

.color-container {
  font-size: max(1.75rem, 2.2vw);
  font-weight: 700;
  margin-top: 2rem;
  opacity: 0.3;
}
